@import "@current-site/assets/theme";
@import "@vgw/_shared/sass/utils";

.container {
  @include container();
  margin-top: spacing(10);
  margin-bottom: spacing(10);
  word-break: break-word;
}

.wrapper {
  --columns: 1.25;
  --column-gap: 1rem;

  display: flex;
  overflow-x: auto;
  column-gap: var(--column-gap);
  transition: 0.75s;
  scroll-snap-type: x mandatory;
  
  &::-webkit-scrollbar {
    background-color: rgba(black, 0.05);
    border-radius: 0.75rem;
    width: 0.5rem;
    height: 0.5rem;

    @include from ('md') {
      display: none;
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: get-color('brand', 'brand-2');
    border-radius: 10px;
  }

  > div {
    scroll-snap-align: center;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc((100% - (var(--columns) - 1) * var(--column-gap)) / var(--columns));

    @include from ('sm') {
      --columns: 3.33;
    }

    @include from ('md') {
      --columns: 4;
    }
  }
}

.controls {
  display: flex;
  margin-top: spacing(10);

  > * {
    flex: 1 0 0;
    justify-content: center;
  }

  @include until ('md') {
    display: none;
  }
}

.navigation {
  display: flex;
  justify-content: flex-end;
  column-gap: spacing(10);
}

.navButton {
  display: flex;
  background: none;
  font-size: 2.5rem;
  border: 1px solid #9D9D9D;
  border-radius: 0.2em;
  padding: 0.25em;
  transition: opacity 0.2s;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.bullets {
  display: flex;
  column-gap: spacing(5);
}

.bullet {
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  background-color: rgba(black, 0.1);
  transition: background-color 0.2s;
  cursor: pointer;

  &.active {
    background-color: rgba(black, 0.4);
  }
}