@import "@current-site/assets/theme";
@import "@vgw/_shared/sass/utils";

.container {
  @include container();
  margin-top: spacing(10);
  margin-bottom: spacing(10);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: spacing(10);

  @include from('sm') {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.column {
  display: grid;
  align-self: flex-start;
  row-gap: spacing(5);
  word-break: break-word;

  >* {
    margin: 0;
  }
}

.image img {
  max-width: 100%;
  height: auto;
}
