.Button {
.load-more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 261px;
  height: 45px;
  border: 1px solid #000;
  color: var(--black, #000);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  text-transform: uppercase;

  @include rgba(var(--bg-grey), 0);
 }

 .mobile-only {
  display: none;

  @include respond-to(mobile) {
    display: flex;
  }
}
}

.centered {
  margin: 0 auto !important;

}

//

.button {
  font-weight: 600;
  cursor: pointer;
  border: none;
  color: white;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  border-radius: 6px;

  &.square {
    border-radius: 6px;
  }

  &.round {
    border-radius: 50px;
  }
  
  &.small {
    padding: 8px 12px;
    font-size: 14px;
    line-height: 16px;
  }
  
  &.medium {
    padding: 12px 16px;
    font-size: 16px;
    line-height: 18px;
  }

  &.primary {
    background-color: var(--red-500);

    &:hover {
      background-color: var(--red-400);
    }
  
    &:active {
        background-color: var(--red-600);
    }
  }

  &.secondary {
    background-color: var(--grey-900);

    &:hover {
      background-color: var(--grey-800);
    }
  
    &:active {
      background-color: var(--grey-700);
    }
  }
}

