@import "@current-site/assets/theme";
@import "@vgw/_shared/sass/utils";

.container {
  @include container();
  margin-top: spacing(10);
  margin-bottom: spacing(10);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: spacing(10);

  @include from('md') {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.column {
  display: grid;
  justify-items: center;
  grid-template-rows: auto auto 1fr;
  row-gap: spacing(5);
  word-break: break-word;
  text-align: center;

  >* {
    margin: 0;
  }
}

.image img {
  max-width: 100%;
  height: auto;
  align-self: center;
}
