@import "@current-site/assets/theme";
@import "@vgw/_shared/sass/utils";

.container {
  @include container();
  word-break: break-word;
  margin-top: spacing(10);
  margin-bottom: spacing(10);
}

.wrapper {
  --columns: 1;

  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  gap: spacing(10);
  align-items: flex-start;

  @include from('sm') {
    --columns: 4;
  }
}