@import "@current-site/assets/theme";
@import "@vgw/_shared/sass/utils";

.container {
  @include container();

  &.reverse {
    .wrapper {
      flex-direction: column-reverse;

      @include from('sm') {
        flex-direction: row-reverse;
      }
    }
  }
}

.wrapper {
  column-gap: spacing(10);
  row-gap: spacing(15);
  max-width: 100%;
  display: flex;
  flex-direction: column;

  @include from('sm') {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.image img {
  width: 100%;
  height: auto;
}

.image {
  flex-grow: 1;
}

.heading {
  margin-bottom: spacing(10);
  font-weight: 900;
}

.textBlock {
  align-self: flex-start;
  word-break: break-word;
  flex-shrink: 0;

  @include from('sm') {
    width: 77%;
  }
}
