.hamburger {
  position: absolute;
  left: 20px;
  width: 35px;
  height: 30px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  transform: rotate(0deg);
  z-index: 999;
  top: 1.4rem;
}

.line {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  background: #fff;
  border-radius: 5px;
  opacity: 1;
  transition: 0.25s ease-in-out;
  transform: rotate(0deg);
}

.one {
  top: 0;
}

.two,
.three {
  top: 12.5px;
}

.four {
  top: 25px;
}

.cross .one {
  top: 14px;
  left: 50%;
  width: 0;
}

.cross .two {
  transform: rotate(45deg);
}

.cross .three {
  transform: rotate(-45deg);
}

.cross .four {
  top: 14px;
  left: 50%;
  width: 0;
}

@media (min-width: 1040px) {
  .hamburger {
    display: none;
  }
}